.body{
    font-family: 'Montserrat', sans-serif;
    margin:0%
}

.menu{
    text-align: center;
    
}

.menu-item{
    display: inline-block;
    margin-right: 45px;
}

.menu-item:last-child{
    margin-right: 0;
}

.menu-link{
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}


.main-img{
    display: inline-block;
    vertical-align: middle;
    margin: 0%;
}

.text-title{
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    line-height: 26.82px;
    font-size: 22px;
}

.text{
    text-align: center;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 15px;
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.red-button{
    text-align: center;
}


.link-button{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 20px;
    width: 200px;
    background-color: #FF0000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 50px;
    margin-top: 40px;
    font-family:'Montserrat' ;
    font-weight: 700;
    font-size: 12px;
}

.copyright{
    text-align: right;
    padding-right: 100px;
    padding-top: 60px;
    color:#373737;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
}


